[Unit]
Description=Rustic Backup
Documentation=man:rustic(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

# Security hardening
DevicePolicy=closed
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

# Reduce process and I/O priority
Nice=15
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# Execution
ExecStart=systemd-inhibit \
  --who="Rustic Backup" \
  --what="sleep:shutdown" \
  --why="Prevent sleep or shutdown during schedule backup" \
  rustic backup
ExecStart=systemd-inhibit \
  --who="Rustic Backup" \
  --what="sleep:shutdown" \
  --why="Prevent sleep or shutdown during schedule backup" \
  rustic forget
